 body {
    padding-top: 50px; 
    padding-bottom: 40px;
    color: #5a5a5a;
}

th {
    text-align: center;
}
#even {
    background-color: #f9f9f9;
}
#turnPage {
    width: 28%;
    margin: 0 auto;
    margin-top: -13px;
    font-family: "妤蜂綋";
}
#page_num {
    width: 11%;
    height: 20px;
}
#but {
    width: 60px;
    font-family: "妤蜂綋";
    cursor: pointer;
}
.id,.num{
    width: 100px;
}
a{
	text-decoration:none;
}
a:hover{
	color: red;
	text-decoration: none; 
}
